@import "variables";

h1 {
  color: $myColor;
  text-decoration: underline;
}

.padmin .row {
  margin-bottom: 5px;
}
.btn-ssm {
  padding: 2px 12px;
}
.fake-item {
  width: 100px;
  height: 100px;
  background: #EEE;
  border: 1px solid #CCC;
  padding: 20px;
}
