.row
  .col-md-12
    h4 Поиск кланов

.row
  .col-md-2 Name,id
  .col-md-4
    input(ng-model="clan.name")

.row
  .col-md-2 Rating from
  .col-md-2
    input(ng-model="clan.rating.from")
  .col-md-1 to
  .col-md-2
    input(ng-model="clan.rating.to")

.row
  .col-md-2 Create date
  .col-md-2
    input(ng-model="clan.createDate.from")
  .col-md-1 to
  .col-md-2
    input(ng-model="clan.createDate.to")

.row
  .col-md-2 User count
  .col-md-2
    input(ng-model="clan.count.from")
  .col-md-1 to
  .col-md-2
    input(ng-model="clan.count.to")

.row
  .col-md-2
    button.btn.btn-success(ng-click="clan.findById(clan.name)") Искать

.row
  .col-md-3.col-md-offset-1 Результат
  .col-md-2.col-md-offset-6 {count} строк
.row
  .col-md-12
    table.table.table-striped.table-bordered
      thead
        tr
          th N
          th ID
          th Name
          th Users
          th Rating
      tbody
        tr
          td 1
          td c.id
          td c.name
          td c.users
          td c.rating
        tr
          td 2
          td c.id
          td c.name
          td c.users
          td c.rating
      //- tr(ng-repeat="c in clan.clans")
      //-   td {{c.id}}
      //-   td {{c.name}}
      //-   td {{c.users}}
      //-   td {{c.rating}}
