.row
  .col-md-12
    h4 Поиск игроков

.row
  .col-md-2 Name,id
  .col-md-4
    input(ng-model="player.name")

.row
  .col-md-2 QH level
  .col-md-4
    select(ng-model="player.selectedQHlevel", ng-options="qhlevel for qhlevel in player.qhlevels")

.row
  .col-md-2 Rating from
  .col-md-2
    input(ng-model="player.rating.from")
  .col-md-1 to
  .col-md-2
    input(ng-model="player.rating.to")

.row
  .col-md-2 Install date
  .col-md-2
    input(ng-model="player.installDate.from")
  .col-md-1 to
  .col-md-2
    input(ng-model="player.installDate.to")

.row
  .col-md-2
    button.btn.btn-success(ng-click="player.findById(player.name)") Искать

.row
  .col-md-3.col-md-offset-1 Результат
  .col-md-2.col-md-offset-6 {count} строк
.row
  .col-md-12
    table.table.table-striped.table-bordered
      thead
        tr
          th N
          th ID
          th Name
          th HQ lvl
          th Rating
      tbody
        tr
          td 1
          td p.id
          td p.name
          td p.hqlvl
          td p.rating
        tr
          td 2
          td p.id
          td p.name
          td p.hqlvl
          td p.rating
      //- tr(ng-repeat="p in player.players")
      //-   td {{p.id}}
      //-   td {{p.name}}
      //-   td {{p.hqlvl}}
      //-   td {{p.rating}}
