doctype html
html(ng-app="srm")
  head
    title Gulp experiments
    link(rel="stylesheet" href="css/bootstrap.min.css")
    link(rel="stylesheet", href="css/main.css")
  body

    div.container.padmin
      header
        nav.navbar.navbar-inverse(role='navigation')
          .navbar-header
              a.navbar-brand(ui-sref='registration') SRM
            ul.nav.navbar-nav
              li
                a(ui-sref='registration') Регистрация
              li
                a(ui-sref='jstest') JS test
              li
                a(ui-sref='administrator') Администратор
              li
                a(ui-sref='seller') Продавец

      div(ui-view)
      footer

    script(src="js/bundle.js")
