doctype html
html(ng-app="offlined")
  head
    title Gulp experiments
    link(rel="stylesheet" href="css/bootstrap.min.css")
    link(rel="stylesheet", href="css/main.css")
  body

    div.container.padmin
      header
        nav.navbar.navbar-inverse(role='navigation')
          .navbar-header
              a.navbar-brand(ui-sref='#') Pirates admin
            ul.nav.navbar-nav
              li
                a(ui-sref='findbyid') Поиск по ID
              li
                a(ui-sref='playerprofile') Профиль игрока
              li
                a(ui-sref='findbyclan') Поиск по Clan ID
              li
                a(ui-sref='clanprofile') Профиль клана
              li
                a(ui-sref='balance') Баланс

      div(ui-view)
      footer

    script(src="js/bundle.js")
