.row
  .col-md-12
    h4 player.id

.row
  .col-md-4
    table.table.table-striped.table-bordered
      thead
        tr
          th Чат
          th Игрок
      tbody
        tr
          td Забанен
          td Играет
        tr
          td
            button.btn.btn-danger Разбанить
          td
            button.btn.btn-success Забанить

.row
  .col-md-2 Name:
  .col-md-4
    input(type="text", ng-model="player.name").col-md-12
.row
  .col-md-2 QH level:
  .col-md-4 player.qhlevel
.row
  .col-md-2 Рейтинг:
  .col-md-2
    input(type="text", ng-model="player.rating")
.row
  .col-md-2 Рейтинг:
  .col-md-3
    input(type="text", ng-model="player.clan").col-md-12
  .col-md-1
    button.btn.btn-ssm.btn-danger -
.row
  .col-md-2 Щит(ост):
  .col-md-2
    input(type="text", ng-model="player.shieldRemaining")
  .col-md-2
    button.btn.btn-ssm.btn-success.col-md-12 Поставить щит

.row
  .col-md-12
    h4 Ресурсы

.row
  .col-md-2 Монетки:
  .col-md-2
    input(type="text", ng-model="player.coins")
.row
  .col-md-2 Золото:
  .col-md-2
    input(type="text", ng-model="player.gold")
  .col-md-2 Max: player.maxGold
.row
  .col-md-2 Напиток:
  .col-md-2
    input(type="text", ng-model="player.drink")
  .col-md-2 Max: player.maxDrink
.row
  .col-md-2 Молнии:
  .col-md-2
    input(type="text", ng-model="player.lighting")
  .col-md-2 Max: player.maxLighting

.row
  .col-md-3.col-md-offset-1 Платежи
  .col-md-3.col-md-offset-5 Сумма платежей ${player.bids}
.row
  .col-md-12
    table.table.table-striped.table-bordered
      thead
        tr
          th N
          th Payment ID
          th Payment date
          th Value
          th Coins
      tbody
        tr
          td 1
          td pay.id
          td pay.date
          td pay.value
          td pay.coins
        tr
          td 2
          td pay.id
          td pay.date
          td pay.value
          td pay.coins
