.row
  .col-md-12
    h4 Баланс

.row
  .col-md-12
    table.table.table-striped.table-bordered
      thead
        tr
          th N
          th FileName
          th Comment
          th UploadDate
          th Current
          th Del
      tbody
        tr
          td 1
          td
          td p.comment
          td p.uploadDate
          td p.current
          td
            button.btn.btn-sm.btn-danger -
        tr
          td 2
          td
          td p.comment
          td p.uploadDate
          td
            button.btn.btn-sm.btn-success выбрать
          td
            button.btn.btn-sm.btn-danger -

.row
  .col-md-4
    h4 Добавить новый баланс
.row
  .col-md-4
    textarea.form-control(rows="3", placeholder="комментарий к балансу...")

.row
  .col-md-4
    form.form-horizontal#uploadBalance(role="form", action="http://localhost:8001", enctype="multipart/form-data", method="post")
      input(type="file")
      input(type="submit", value="Загрузить").btn.btn-success
