.row
  .col-md-12
    h4 Тест купона

.row
  .col-md-2 Ваш код:
  .col-md-2#srm-promo

hr

.row
  .col-md-2
    .fake-item
      span(data-bcrm="sku") SKU018235127
      br
      span(data-bcrm="name") Штаны
      br
      span Цена:
        span(data-bcrm="price") 10.0

.row
  .col-md-2
    .fake-item
      span(data-bcrm="sku") SKU014512341
      br
      span(data-bcrm="name") Шорты
      br
      span Цена:
        span(data-bcrm="price") 20.1

.row
  .col-md-2
    .fake-item
      span(data-bcrm="sku") SKU667733563
      br
      span(data-bcrm="name") Куртка
      br
      span Цена:
        span(data-bcrm="price") 30.4
